<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- Styles -->
<link
    href="https://fonts.googleapis.com/css?family=Exo+2:500,600,700,900|PT+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext"
    rel=stylesheet>
<link type="text/css" rel="stylesheet"
    href="https://gl.githack.com/Galeups/transstarter-themplate/raw/71d99d7ef505f48468704f918f9efaf2f44a4f86/themplate-styles.css">
<!-- End Styles -->

<!--Load Vue, WebComponents, MyComponents -->
<script defer src="https://unpkg.com/vue@2.6.7/dist/vue.js"></script>
<script defer src="https://unpkg.com/@webcomponents/webcomponentsjs@^2"></script>
<script defer
    src="https://rawcdn.githack.com/SerovMihail/transtarter/db0cdf52b83cc3e8b6ce6d3d2ead47ad64517ab6/transtarter-frontend/dist/ts-ui.js"></script>
<!-- End Load Vue, WebComponents, MyComponents -->