<section class="landing-block g-pt-20 g-pb-90 g-bg-main alice-and-history">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-5 order-1 order-md-2 hidden-md-down">
        <img
          class="landing-block-node-img js-animation slideInLeft img-fluid"
          src="https://cdn.bitrix24.ru/b488493/landing/e99/e99a2db5412bb6c332b0eaecafcabd16/bg_2_2x.png"
          alt=""
          srcset="
            https://cdn.bitrix24.ru/b488493/landing/810/8107a9c23e3bfcdc8acc54929d09bb5a/alice3_2x.jpg 2x
          "
          data-fileid="1482044"
          data-fileid2x="-1"
          data-pseudo-url="{"
        />
      </div>

      <div
        class="col-md-12 col-lg-7 d-flex text-center text-md-left order-1 order-md-2"
      >
        <div class="align-self-center">
          <div class=" g-mb-20">
            <h2 class="landing-block-node-title more-than-3500-details">
              Мы уже поставили более 350 000 деталей во все регионы РФ
            </h2>
          </div>

          <div class="visible-md g-mb-16 text-center">
            <img style="max-height: 240px" class="landing-block-node-img
            img-fluid"
            src="https://cdn.bitrix24.ru/b488493/landing/eaf/eaf23f58e397903cb428ab4251d2071d/alice3.jpg"
            alt=""
            srcset="https://cdn.bitrix24.ru/b488493/landing/810/8107a9c23e3bfcdc8acc54929d09bb5a/alice3_2x.jpg
            2x" data-fileid="1482044" data-fileid2x="-1" data-pseudo-url="{"
            text":"","href":"","target":"_self","enabled":false}" />
          </div>

          <div class="landing-block-node-cards-container">
            <div
              class="landing-block-node-card media d-block d-md-flex text-md-left g-mb-24 g-font-size-17"
            >
              <p class="company-progress-text">
                Здравствуйте! Меня зовут Алиса Сидоренко, я руководитель
                головного офиса компании «Транс Стартер».
                <br />
                <br />
                Мы начинали с маленькой мастерской в Калининграде в 1995 году и
                перевозки заказов в багажнике старого автомобиля. Теперь у нас
                развитая дилерская сеть, отлаженная логистика, собственный завод
                по восстановлению стартеров и генераторов. Также мы открыли сеть
                автомастерских, специализирующихся на ремонте стартеров и
                генераторов.
                <br />
                <br />
                Единственное, что осталось неизменным за 22 года работы —
                уровень сервиса. Мы предлагаем индивидуальные условия каждому
                клиенту, в зависимости именно от ваших возможностей и задач.
              </p>
            </div>
            <div
              class="landing-block-node-card media d-block d-md-flex g-lh-1_33 text-md-left g-mb-24 g-font-size-24 g-font-700"
            >
              <p class="suggestions">
                Узнайте, что мы можем предложить именно вам — оставьте телефон,
                чтобы обсудить условия сотрудничества.
              </p>
            </div>
            <div
              class="bitrix24forms form-h66 g-brd-white-opacity-0_6 u-form-alert-v4 small-form"
              data-b24form="186|b57mz5"
              data-b24form-use-style="N"
              data-b24form-show-header="N"
              data-b24form-original-domain="https://tstarter.bitrix24.ru"
            ></div>

            <span class="g-l-gray g-lh-1_43 g-inline-block g-mt-10">
              Нажимая на кнопку, вы даете согласие на обработку своих
              персональных данных и соглашаетесь с
              <a
                href="/politika"
                class="policy"
                target="_blank"
                rel="noopener noreferrer"
                >Политикой конфиденциальности.</a
              >
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .alice-and-history .g-l-gray .policy {
    border-bottom: 1px solid #a3a3a2;
    color: #a3a3a2;
  }
  .alice-and-history .form-h66 > iframe {
    height: 66px;
  }

  .alice-and-history .more-than-3500-details {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: bold;
    line-height: 48px;
    font-size: 40px;
    color: #323230;
  }

  .alice-and-history .company-progress-text {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 17px;
    color: #323230;
  }

  .alice-and-history .suggestions {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: bold;
    line-height: 32px;
    font-size: 24px;
    color: #323230;
  }

  .alice-and-history .policy:hover {
    text-decoration: none;
  }

  @media (max-width: 768px) {
    .alice-and-history .more-than-3500-details {
      line-height: 28px;
      font-size: 20px;
    }
    .alice-and-history .company-progress-text {
      font-size: 16px;
      text-align: left !important;
    }

    .alice-and-history .suggestions {
      line-height: 24px;
      font-size: 17px;
    }
  }
</style>
