<div class="certification-and-guarantee container">
  <h5 class="certification">
    При возникновении претензий к товару мы исследуем<br />
    его в сертифицированной лаборатории. Если качество<br />
    не соответствует заявленному — возвращаем деньги.
  </h5>
  <h4 class="guarantee">
    Гарантия на все товары<br />
    по договору — 6 месяцев
  </h4>
</div>

<style>
  .certification-and-guarantee {
    margin: 61px auto 81px;
  }
  .certification-and-guarantee .certification {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: bold;
    line-height: 32px;
    font-size: 24px;
    color: #323230;
  }
  .certification-and-guarantee .guarantee {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: normal;
    line-height: 56px;
    font-size: 48px;
    color: #0cb520;
    margin-top: 21px;
  }

  @media (max-width: 768px) {
    .certification-and-guarantee {
      margin: 18px auto 30px;
    }
    .certification-and-guarantee .certification {
      line-height: 24px;
      font-size: 17px;
    }
    .certification-and-guarantee .guarantee {
      line-height: 32px;
      font-size: 24px;
      margin-top: 16px;
    }
  }
</style>
