<section
  class="more-than-2000-details landing-block clear g-pos-rel g-pb-550 media-1200-pb-to-pt-400 landing-block-node-bgimg g-bg-size-cover g-bg-img-hero g-max-h-90vh mobile-not-cover">
  <div class="banner trapeze-block trapeze-block_right g-white js-animation slideInLeft"
    style="animation-duration: 1000ms; animation-play-state: running; animation-name: none;">
    <div class="landing-block-node-text js-animation fadeInUp g-line-height-1_5 text-left g-mb-10 g-color-white"
      style="animation-duration: 1000ms; animation-play-state: running; animation-name: none;">
    </div>
    <div class="landing-block-node-card-contact-container">
      <div class="landing-block-node-card-contact">
        <div class="media align-items-center">
          <div class="media-body">
            <div class="landing-block-node-contact-text mb-0 mobile-text-center">
              <p class="description">
                Детали и комплектующие всегда есть в наличии —
                на нашем складе более 20 000 наименований товара.
                <br /> <br />
                На все установленные агрегаты и запасти мы даем гарантию — 6-12 месяцев.
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .more-than-2000-details {
    background-image: url("https://cdn.bitrix24.ru/b488493/landing/074/074c6762f3c60c3b82d143e403a3cbab/Rectangle_23_4_.jpg");

  }

  .more-than-2000-details .title {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: bold;
    line-height: 48px;
    font-size: 40px;
    color: #FFFFFF;
    margin-bottom: 42px;
  }

  .more-than-2000-details .description {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    font-size: 20px;
    color: #FFFFFF;
  }

  @media (max-width: 768px) {
    .more-than-2000-details .title {
      line-height: 28px;
      font-size: 20px;
      text-align: center;
    }

    .more-than-2000-details .description {
      line-height: 24px;
      font-size: 16px;
    }

    .mobile-not-cover {
      background-size: 100% auto !important;
      background-position: top;

    }
  }
</style>