<section
  class="mounting-unmounting landing-block master-block clear g-pos-rel g-pb-180 landing-block-node-bgimg g-bg-size-cover g-bg-img-hero g-flex-v-center g-flex-h-end mobile-not-cover">
  <div
    class="customized-trapeze-block banner trapeze-block trapeze-block_left g-white g-z-index-1 g-pos-rel js-animation slideInRight">
    <div class="landing-block-node-text js-animation fadeInUp g-line-height-1_5 text-left g-mb-40 g-color-white">
    </div>
    <div class="landing-block-node-card-contact-container">
      <div class="landing-block-node-card-contact">
        <div class="media align-items-center mb-4">
          <div class="media-body">
            <div class="landing-block-node-contact-text mb-0 text-left g-font-size-20 g-white">
              <p class="description">
                Многие автосервисы не берутся за работу, когда установка детали
                сопровождается сложным агрегатным демонтажем.
                <br /><br />
                Сервисы «Транс Стартер» оборудованы всем необходимым, чтобы
                проводить монтаж и демонтаж любой сложности.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .mounting-unmounting {
    background-image: url("https://cdn.bitrix24.ru/b488493/landing/97f/97f184cb37a6d94b7c0ee88061f3f6fe/Rectangle_23_2_2x.jpg");
    padding-bottom: 400px !important;
  }

  .mounting-unmounting .description {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    font-size: 20px;

    color: #ffffff;
  }

  @media (max-width: 768px) {
    .mounting-unmounting {
      padding-bottom: 0 !important;
    }

    .mobile-not-cover {
      background-size: 100% auto !important;
      background-position: top;
    }

    .customized-trapeze-block {
      margin-left: 0 !important;
      padding: 50px !important;
      margin-top: 420px;
    }
  }
</style>