<div class="new-provider-validation container">
  <h4 class="new-provider-validation-2-months">
    Каждого нового поставщика мы<br />
    проверяем 1-2 месяца,прежде чем<br />
    ввести бренд в ассортимент
  </h4>
  <div class="row">
    <div
      class=" landing-block-card js-animation fadeIn landing-block-node-block col-md-4 g-mb-30 g-mb-0--md g-pt-10 landing-card provider-item col-12"
    >
      <img
        class="landing-block-node-img img-100 provider-item-pic"
        src="https://cdn.bitrix24.ru/b488493/landing/e6f/e6ff61198b3cbb442d8c0905daa63be0/1.jpg"
        alt=""
      />

      <div class="landing-block-node-text g-font-weight-400 provider-item-text">
        <p>
          Собираем отзывы <br />и рекомендации от действующих <br />
          клиентов — отбираем только <br />
          проверенные заводы
        </p>
      </div>
    </div>
    <div
      class=" landing-block-card js-animation fadeIn landing-block-node-block col-md-4 g-mb-30 g-mb-0--md g-pt-10 landing-card provider-item col-12"
    >
      <img
        class="landing-block-node-img img-100 provider-item-pic"
        src="https://cdn.bitrix24.ru/b488493/landing/368/36864d46a2c68df48aa18977a80a947d/2.jpg"
        alt=""
        srcset="
          https://cdn.bitrix24.ru/b488493/landing/e8f/e8fc4be51f45d08beeed1a5b8433b3cc/2_2x.jpg 2x
        "
      />

      <div class="landing-block-node-text g-font-weight-400 provider-item-text">
        <p>
          Заказываем пробную партию <br />
          и проверяем ее в специальной <br />
          тестовой зоне
        </p>
      </div>
    </div>
    <div
      class="landing-block-card js-animation fadeIn landing-block-node-block col-md-4 g-mb-30 g-mb-0--md g-pt-10 landing-card provider-item col-12"
    >
      <img
        class="landing-block-node-img img-100 provider-item-pic"
        src="https://cdn.bitrix24.ru/b488493/landing/aab/aab00b8b7aa9b7eb9e15bb5245683e79/3.jpg"
        alt=""
        srcset="
          https://cdn.bitrix24.ru/b488493/landing/bb2/bb2624ace01e22a84658e411d2cfcf50/3_2x.jpg 2x
        "
      />

      <div class="landing-block-node-text g-font-weight-400 provider-item-text">
        <p>
          Лично посещаем производство: <br />
          изучаем оборудование, систему <br />
          контроля качества, продукцию для <br />других поставщиков
        </p>
      </div>
    </div>
  </div>
</div>

<style>
  .new-provider-validation .new-provider-validation-2-months {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: bold;
    line-height: 48px;
    font-size: 40px;
    color: #323230;
    margin-bottom: 40px;
  }

  .new-provider-validation .provider-item {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: bold;
    line-height: 48px;
    font-size: 40px;
    color: #323230;
    margin-bottom: 40px;
  }
  .new-provider-validation .provider-item-pic {
    margin-left: -16px;
    margin-bottom: 21px;
    width: 100px;
  }
  .new-provider-validation .provider-item-text {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    font-size: 20px;
    color: #323230;
  }

  @media (max-width: 768px) {
    .new-provider-validation .new-provider-validation-2-months {
      line-height: 28px;
      font-size: 20px;
      text-align: center;
      margin-bottom: 20px;
    }
    .new-provider-validation .provider-item {
      display: flex;
      flex-direction: column;

      align-items: center;
    }
    .new-provider-validation .provider-item-pic {
      margin-bottom: 0;
    }
    .new-provider-validation .provider-item-text {
      line-height: 24px;
      font-size: 16px;
      text-align: center;
    }
  }
</style>
