<div class="reduced-prices container">
  <h2 class="percents-75">
    Вы покупаете по цене на 75% ниже розничной и свободной от наценки
    посредников
  </h2>
  <p class="directly">
    Мы работаем напрямую с заводами-производителями по эксклюзивным договорам.
  </p>
</div>

<style>
  .reduced-prices .percents-75 {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: bold;
    line-height: 48px;
    font-size: 40px;
    text-align: center;
    color: #323230;
    margin: 80px auto 45px;
  }
  .reduced-prices .directly {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    font-size: 20px;
    text-align: center;
    color: #323230;
  }

  @media (max-width: 768px) {
    .reduced-prices .percents-75 {
      line-height: 28px;
      font-size: 20px;
    }
    .reduced-prices .directly {
      line-height: 24px;
      font-size: 16px;
    }
  }
</style>
