<section class="sales-50-percent">
  <div class="container g-mt-80 g-mb-80">
    <div class="row">
      <div class="hide-block-mobile col-md-5 order-1 order-md-2">
        <img
          class="landing-block-node-img js-animation slideInLeft img-fluid"
          src="https://cdn.bitrix24.ru/b488493/landing/34b/34bc282f523243b4da6276f9ca332e6f/WhatsApp_Image_2019-03-04_at_16.47.19_2x.jpeg"
          
        />
      </div>
      <div
        class="full-width col-md-6 d-flex text-center text-md-left order-1 order-md-2"
      >
        <div class="align-self-center">
          <div class=" g-mb-20">
            <p
              class="landing-block-node-main-title js-animation fadeInUp g-mb-8 text-center g-font-700 g-green g-font-size-115"
            >
              -50%
            </p>
            <div
              class="landing-block-node-text g-lh-1_25 g-mb-16 g-black g-font-700"
            >
              <p class="text-center g-font-size-32">
                <b
                  >Станьте нашим партнером — и покупайте по ценам на 50% ниже
                  розничных
                </b>
              </p>
            </div>
            <div class="media-body">
              <div class="landing-block-node-contact-text ">
                <p class="special-offers">
                  Получите доступ к оптовым ценам и коммерческое предложение
                </p>
                <p class="text-center g-font-size-14">
                  Менеджер перезвонит, подготовит индивидуальное коммерческое
                  предложение и откроет доступ к оптовым ценам
                </p>
              </div>
            </div>
          </div>
          <div
            class="bitrix24forms h356 landing-block-node-form js-animation fadeInUp g-brd-none g-brd-around--sm g-brd-white-opacity-0_6 g-px-0 g-px-20--sm g-px-45--lg g-py-0 g-py-30--sm g-py-10--lg u-form-alert-v1"
            data-b24form="184|r0o0bf"
            data-form-style-input-border-color="1"
            data-b24form-use-style="Y"
            data-b24form-show-header="N"
            data-b24form-original-domain="https://tstarter.bitrix24.ru"
          ></div>
          <div
            class="landing-block-node-card-contact g-max-w-360 g-block-center-h"
          >
            <div class="media align-items-center mb-4">
              <div class="media-body">
                <div class="landing-block-node-contact-text ">
                  <p class="text-center g-font-size-11 policy-full-text">
                    Нажимая на кнопку, вы даете согласие на обработку своих
                    персональных данных и соглашаетесь с
                    <a
                      href="/politika"
                      class="policy"
                      target="_blank"
                      rel="noopener noreferrer"
                      >Политикой конфиденциальности.</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .sales-50-percent .h356 > iframe {
    height: 356px !important;
  }
  .sales-50-percent .h356 {
    margin-top: -30px;
  }
  .sales-50-percent .policy-full-text {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    color: #a3a3a2;
    margin-top: -5px !important;
  }
  .sales-50-percent .special-offers {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: bold;
    line-height: 28px;
    font-size: 20px;
    text-align: center;
    color: #323230;
    margin: 44px auto 16px;
  }
  .sales-50-percent .policy {
    color: #a3a3a2 !important;
    border-bottom: 1px solid #a3a3a2;
  }
  .sales-50-percent a:hover {
    text-decoration: none !important;
    color: #a3a3a2 !important;
  }
  @media (max-width: 768px) {
    .sales-50-percent .hide-block-mobile {
      display: none !important;
    }
    .sales-50-percent .full-width {
      width: 100% !important;
      flex: none !important;
      max-width: 100% !important;
    }
    .sales-50-percent .policy-full-text {
      margin-top: -25px !important;
    }
    .sales-50-percent .special-offers {
      line-height: 24px;
      font-size: 16px;
      margin: 19px auto 8px;
    }
  }
</style>
