<div class="work-since-1995">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-12 flex-center">
                    <div>
                            <h2 class="free-delivery">«Транс Стартер» поставляет стартеры 
                                и генераторы с 1995 года</h1>
                                <div class="daily-delivery">Мы входим в ТОП-3 крупнейших поставщиков стартеров, генераторов и других запчастей для машин</div>
                    </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
  
</div>

<style>
    .work-since-1995 {
  background-image: url('https://cdn.bitrix24.ru/b488493/landing/c9d/c9d95ed6e6900ce76c404f66a88938b3/bg_4_2x.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 80vh;
    }
  
    .work-since-1995 .free-delivery {
      margin-bottom: 36px;
      font-family: 'Exo 2';
      font-weight: bold;
      line-height: 80px;
      font-size: 72px !important;
      color: #FFFFFF !important;
    }
    .work-since-1995 .daily-delivery {
      font-family: 'Exo 2';
      line-height: 40px;
      font-size: 32px !important;    
      color: #FFFFFF !important;
    }
  
    .work-since-1995 .flex-center {
      display: flex;
      justify-items: center;
      align-items: center;
      height: 80vh;
    }
  
    @media (max-width: 768px) {
      .work-since-1995 {
        text-align: center;
      }
      .work-since-1995 .free-delivery {
        line-height: 32px !important;
        font-size: 28px !important;
        
      }
  
    .work-since-1995 .daily-delivery {
      line-height: 24px !important;
      font-size: 17px !important;
    }
}
  </style>
