.accept-policy {
    color: $medium-grey;
    line-height: 1.43;
    margin-bottom: 16px;
    font-size: 14px;
    .policy-link {
        display: inline;
        border-bottom: 1px solid $medium-grey;
        color: inherit;
        cursor: pointer;
    }
}

@media (max-width: 1200px) {
    .accept-policy {
        text-align: center;
    }
}