.btn {
    height: 48px;
    border-radius: 4px;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.41;
    color: $black;
    border-width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    font-family: 'Exo 2';
}

.btn-outline {
    border: 1px solid $alto-approx;
    box-sizing: border-box;
    border-radius: 4px;
}

.btn-orange {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19), 0 1px 0 0 $tangerine-approx;
    background-image: linear-gradient(to bottom, $gold-approx, $supernova-approx);
}

.btn-block {
    width: 100%;
}

.btn-group {
    font-weight: bold;
    line-height: 20px;
    font-size: 16px;
    button {
        background-color: $white;        
        border: 1px solid $alto-approx;
        color: $black;
        padding: 10px 24px;        
        cursor: pointer;        
        float: left;        
        &:not(:last-child) {
            border-right: none;            
        }
        &:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
        &:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
        &:active {
            background-color: $gallery-approx;
        }
    }
    &:after {
        content: "";
        clear: both;
        display: table;
    }
    .active {
        background-color: $malachite;
        color: white;
    }
}