.form-group {
    color: $black;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    .label {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.5;
        margin-bottom: 8px;
    }
    .big-label {
        font-weight: bold;
        line-height: 24px;
        font-size: 16px;
        color: $black;
    }
    .mobile-top-label {
        margin-bottom: 3px;
    }
    .green-link {
        font-weight: bold;
        line-height: 24px;
        font-size: 16px;
        color: $green;
        text-decoration: underline;
        text-decoration-style: dashed;
        text-decoration-color: rgba(12, 181, 32, .4);
    }
    .two-selectors {
        display: flex;
        .first-selector {
            margin-right: 8px;
            width: 30%;
        }
        .second-selector {
            width: 70%;
        }
    }
}

.form-control {
    border-radius: 2px;
    padding: 0.675rem .75rem;
    border-width: 0;
    border: 1px solid $light-grey;
    background-color: $white;
    width: 100%;
    height: auto !important; // bitrix style overwrite
    &:focus {
        border-color: $green; // bitrix style overwrite
    }
}

.form-control-lg {
    @extend .form-control;
    line-height: 24px;
}