<section class="landing-block clear g-pos-rel g-pb-180 landing-block-node-bgimg g-bg-size-cover g-bg-img-hero g-flex-v-center g-flex-h-end"
         style="background-image: url('http://www.globaldenso.com/en/newsreleases/events/otherexhibitions/2012/pressinformation/images/NewStarterforStopnStartSystem.jpg');">

    <div class="btn-triangle js-animation slideInLeft">
        <a  href="//www.youtube.com/watch?v=q4d8g9Dn3ww"
            class="btn-triangle__button"
            target="_popup"
            data-url="//www.youtube.com/embed/q4d8g9Dn3ww?autoplay=1&amp;controls=1&amp;loop=0&amp;rel=0&amp;start=0&amp;html5=1&amp;v=q4d8g9Dn3ww">
        </a>
        <span class="btn-triangle__description g-font-exo g-font-size-17 g-white g-lh-1_4">
            Посмотрите, как мы тестируем<br/> детали и агрегаты
        </span>
    </div>

    <div class="banner trapeze-block trapeze-block_left g-white g-z-index-1 g-pos-rel js-animation slideInRight">
        <div
            class="landing-block-node-text js-animation fadeInUp g-line-height-1_5 text-left g-mb-40 g-color-white"
            data-form-style-main-font-weight="1"
            data-form-style-header-text-font-size="1"
            data-form-style-label-font-weight="1"
            data-form-style-label-font-size="1"
            data-form-style-second-font-color="1"
            data-selector=".landing-block-node-text@0">

            <h3 class="g-font-size-40 g-font-exo g-font-700 g-lh-1_2 g-mb-40">
                Мы тщательно отбираем поставщиков и тестируем каждую партию товара
            </h3>
        </div>
        <div class="landing-block-node-card-contact-container">
            <div class="landing-block-node-card-contact">
                <div class="media align-items-center mb-4">
                    <div class="media-body">
                        <div class="landing-block-node-contact-text mb-0 text-left g-font-size-20 g-white">
                            <p>
                                Поставляем детали напрямую с заводов-производителей. На
                                каждый завод приезжаем лично, исследуем — как проходит
                                контроль качества и на каком оборудовании изготавливаются
                                детали.
                            </p>
                            <br />
                            <p>
                                Дополнительно тестируем образцы из каждой партии на
                                собственном стенде.
                            </p>
                            <br />
                            <p>
                                К продаже допускаем только агрегаты, соответствующие
                                стандартам.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>