<section class="landing-block g-pt-20 g-pb-90 g-bg-main">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-lg-5 order-1 order-md-2 hidden-md-down">
                <img
                    class="landing-block-node-img js-animation slideInLeft img-fluid"
                    src="https://cdn.bitrix24.ru/b488493/landing/eaf/eaf23f58e397903cb428ab4251d2071d/alice3.jpg"
                    alt=""
                    srcset="https://cdn.bitrix24.ru/b488493/landing/810/8107a9c23e3bfcdc8acc54929d09bb5a/alice3_2x.jpg 2x"
                    data-fileid="1482044"
                    data-fileid2x="-1"
                    data-pseudo-url="{"
                    text":"","href":"","target":"_self","enabled":false}" />
            </div>

            <div class="col-md-12 col-lg-7 d-flex text-center text-md-left order-1 order-md-2">
                <div class="align-self-center">
                    <div class=" g-mb-20">
                        <h2 class="landing-block-node-title g-lh-1 g-font-size-120 mb-0 g-green g-font-exo g-font-700">
                            &#171;Транс
                            <br>
                            Стартер&#187;
                        </h2>
                        <br>
                        <h4 class="landing-block-node-title g-lh-1_17 g-font-size-48 mb-0 g-font-exo g-font-400">
                            поставляет агрегаты
                            <br>
                            и запчасти с 1995 года
                        </h4>
                    </div>

                    <div class="visible-md g-mb-16 text-center">
                        <img style="max-height: 540px"
                            class="landing-block-node-img img-fluid"
                            src="https://cdn.bitrix24.ru/b488493/landing/eaf/eaf23f58e397903cb428ab4251d2071d/alice3.jpg"
                            alt=""
                            srcset="https://cdn.bitrix24.ru/b488493/landing/810/8107a9c23e3bfcdc8acc54929d09bb5a/alice3_2x.jpg 2x"
                            data-fileid="1482044"
                            data-fileid2x="-1"
                            data-pseudo-url="{"
                            text":"","href":"","target":"_self","enabled":false}" />
                    </div>

                    <div class="landing-block-node-cards-container">
                        <div class="landing-block-node-card media d-block d-md-flex text-md-left g-mb-24 g-font-size-17">
                            <p>Здравствуйте! Меня зовут Алиса Сидоренко, я руководитель головного офиса компании «Транс
                                Стартер».
                                <br>
                                <br>
                                Более 20 лет мы поставляем запчасти с заводов Америки, Германии, Дании, Кореи и Китая.
                                Сотрудничаем с интернет-магазинами, транспортными и строительными организациями,
                                государственными учреждениями, автосервисами.
                                <br>
                                <br>
                                Мы стремимся предложить оптовикам лучшие условия.
                                «Транс Стартер» — официальный дистрибьютор брендов, все товары
                                мы закупаем по эксклюзивным договорам.
                                <br>
                                <br>
                                В результате вы не переплачиваете посреднику и получате гарантию
                                от производителя. Мы всегда готовы рассмотреть индивидуальные условия оплаты поставок.
                            </p>
                        </div>
                        <div class="landing-block-node-card media d-block d-md-flex g-lh-1_33 text-md-left g-mb-24 g-font-size-24 g-font-700">
                            <p>
                                Давайте обсудим условия сотрудничества, которые подходят именно для вашей компании
                            </p>
                        </div>
                        <div
                            class="bitrix24forms g-brd-white-opacity-0_6 u-form-alert-v4 small-form"
                            data-b24form="186|b57mz5"
                            data-b24form-use-style="N"
                            data-b24form-show-header="N"
                            data-b24form-original-domain="https://tstarter.bitrix24.ru"
                        ></div>

                        <span class="g-l-gray g-lh-1_43 g-inline-block g-mt-10">
                            Нажимая на кнопку, вы даете согласие на обработку своих персональных данных
                            и соглашаетесь с Политикой конфиденциальности
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>