.header {
    font: 600 16px 'PT Sans';
    .desktop-header {
        display: block;
        &__menu {
            color: $white;
            display: flex;
            justify-content: space-between;
            height: 40px;
            background-color: $bkground-header;
            padding: 0 16px;
        }
        &__left,
        &__right {
            height: 100%;
            display: flex;
            align-items: center;
        }
        &__login {
            display: flex;
            height: 100%;
            ;
        }
        &__login-item {
            height: 100%;
            border-left: 1px solid $dark-grey;
            margin-right: 10px;
            padding-left: 10px;
            display: flex;
            align-items: center;
            &_icon-cart {
                margin-right: 30px;
                position: relative;
                width: 40px;
            }
        }
        &__icon-cart {
            position: relative;
            i {
                position: absolute;
                top: -10px;
                right: -50px;
                width: 20px;
                height: 20px;
                background-color: $yellow-light;
                border-radius: 50%;
                color: $black;
                display: flex;
                font: 600 12px PTSans;
                justify-content: center;
                padding-top: 3px;
                z-index: 2;
            }
            &::after {
                content: "";
                position: absolute;
                width: 10px;
                height: 21px;
                border-top-right-radius: 34%;
                -webkit-transform: rotate(-60deg) skewX(-30deg) scale(1, 0.866);
                transform: rotate(-142deg) skewX(-15deg) scale(1, 0.466);
                background: $yellow-light;
                top: -10.4px;
                left: 27.4px;
            }
        }
        .user-info {
            display: flex;
            align-items: center;
            width: auto;
            border-left: 1px solid $dark-grey;
            cursor: pointer;
            .user-avatar {
                background-image: url('../../../assets/icons/png/user-example.png');
                background-position: center;
                background-size: cover;
                width: 32px;
                height: 32px;
                margin-left: 8px;
            }
            .user-name {
                text-decoration: underline;
                text-decoration-style: dashed;
                text-decoration-color: $white;
                margin-left: 8px;
            }
        }
        &__logo {
            text-transform: uppercase;
            font: 900 16px 'Exo 2';
            margin-right: 20px;
            white-space: nowrap;
        }
        &__menu-list {
            height: 100%;
            display: flex;
        }
        &__menu-item {
            height: 100%;
            a {
                display: flex;
                align-items: center;
                height: 100%;
                padding: 0 16px;
                white-space: nowrap;
                &.active {
                    background-color: $bold-grey;
                }
            }
            a:hover {
                background-color: $bold-grey;
            }
        }
        &__search {
            padding: 16px;
            background-color: $green;
        }
    }
    .mobile-header {
        display: none;
    }
}