.registration {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(50, 50, 48, 0.8);
    overflow: scroll;
    .desktop-version-block {
        display: block;
    }
    .mobile-version-block {
        display: none;
    }
    @media (max-width: 768px) {
        .mobile-version-block {
            display: block;
            width: 90%;
            font-size: 14px;
            color: $black;
            background: white;            
            &-header {
                background-color: $light-yellow;
                width: 100%;
                height: 192px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .reg-in-our-shop {
                    margin: 24px 0 8px 0;                    
                }
                .rows-and-gear-icon {
                    background: url('../../assets/icons/svg/rows-and-gear.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 48px;
                    height: 48px;
                }
                .order-management {
                    line-height: 1.14;
                    margin: 4px 8vw;
                }
            }
            &-main {
                background-color: $white;
                padding-bottom: 24px;
                padding: 16px;
                .registration-text {
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 1.4;
                    padding: 16px 0;
                }
                .accept-checkbox {
                    color: $medium-grey;
                    line-height: 1.43;
                    margin: 8px 16px 17px;
                    .policy-link {
                        text-decoration: underline;
                        color: inherit;
                        cursor: pointer;
                    }
                }
                .already-have-account {
                    font-size: 16px;
                    .go-log-in {
                        text-decoration: none;
                        color: $green;
                    }
                }
            }
        }
        .desktop-version-block {
            display: none;
        }
    }
}