.registration-data-tab {
    .change-avatar {
        display: flex;
        align-items: center;
        .user-picture {
            background-image: url('../../../../assets/icons/png/user-example.png');
            background-position: center;
            background-size: cover;
            width: 75px;
            height: 75px;
            margin: 0 0 48px;
        }
        .change-user-picture {
            font-weight: bold;
            line-height: 24px;
            font-size: 16px;
            color: $green;
            text-decoration: underline;
            text-decoration-color: rgba(12, 181, 32, .4);
            text-decoration-style: dashed;
            margin-left: 24px;
        }
    }
    .accept-checkbox {
        color: $medium-grey;
        line-height: 1.43;
        font-size: 14px;
        .policy-link {
            display: inline;
            border-bottom: 1px solid $medium-grey;
            color: inherit;
            cursor: pointer;
        }
    }
    .row-with-big-space {
        margin-top: 53px;
    }
}

@media (max-width: 1200px) {
    .registration-data-tab {
        .change-avatar {
            display: flex;
            align-items: center;
            .user-picture {
                background-image: url('../../../../assets/icons/png/user-example.png');
                background-position: center;
                background-size: cover;
                width: 76px;
                height: 76px;
                margin: 0 0 32px;
            }
        }
        .accept-checkbox {
            text-align: center;
        }
        .btn-block-mobile {
            width: 100%;
        }
    }
}