@media (max-width: 1200px) {
    .modal-popup {
        width: calc(100% - 16px) !important;
        margin: 0 auto;
    }
    .btn-group-column {
        display: flex;
        flex-direction: column;
        button {
            border-radius: 5px;
            margin-bottom: 4px;
            line-height: 20px;
            font-size: 14px;
        }
    }
    .btn-block-mobile {
        width: 100%;
    }
    .accept-checkbox {
        text-align: center;
    }
}
