.requisites-tab {
    .organization-name,
    .additional-organization-names {
        font-family: 'Exo 2';
        font-weight: 600;
        line-height: 28px;
        font-size: 20px;
        margin-bottom: 14px;
    }
    .additional-organization-names {
        margin-top: 74px;
    }
    .exist-organizations {
        margin-bottom: 24px;
        .exist-organization {
            line-height: 24px;
            padding: 0 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid #EFEFEF;
            height: 64px;
            .edit-block {
                display: flex;
            }
            &:hover {
                background: #F9F9F9;
            }
            .icon {
                padding: 5px 7px 5px 8px;
                ;
                width: 32px;
                height: 32px;
                position: relative;
                border: 1px solid #D2D2D2;
                box-sizing: border-box;
                border-radius: 2px;
                cursor: pointer;
            }
            .save {
                content: url("../../../../assets/icons/svg/check-white.svg");
                background-color: $green;
            }
            .edit {
                content: url("../../../../assets/icons/svg/pensil.svg");
                background-color: $white;
                margin-left: 8px;
            }
        }
    }
    .add-new-organization {
        margin-top: 40px;
    }
}

@media (max-width: 1200px) {
    .requisites-tab {}
}