@media (max-width: 768px) {
    .crm-webform-form-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }    
    .crm-webform-fieldset,
    .crm-webform-fieldset-footer {
        width: 98% !important;
    }
    .crm-webform-input {
        max-width: 100% !important;
    }
    .crm-webform-wrapper {        
        padding: 0 !important;        
    }
    .crm-webform-fieldset {
        padding: 0 !important;   
    }
}

.crm-webform-body {
    padding: 0;
}