// modules
@import "./variables.scss";
// vendors
@import "./normalize-css.scss";
@import "./overwrite-vue-carousel.scss";
html,
body {
    background-color: $white;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
}

#app {
    height: 100%;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

ul,
menu,
dir {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}

a:-webkit-any-link {
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.btn {
    height: 48px;
    border-radius: 4px;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.41;
    color: $black;
    border-width: 0;
}

.btn-orange {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19), 0 1px 0 0 #e29401;
    background-image: linear-gradient(to bottom, #ffd600, #ffc600);
}

.btn-block {
    width: 100%;
}

.form-group {
    color: $black;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    .label {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.5;
        margin-bottom: 8px;
    }
    .form-control {
        border-radius: 2px;
        padding: 0.675rem .75rem;
        border-width: 0;
        border: 1px solid $light-grey;
        background-color: $white;
    }
    .two-selectors {
        display: flex;
        .first-selector {
            margin-right: 8px;
            width: 30%;
        }
        .second-selector {
            width: 70%;
        }
    }
}

.custom-checkbox {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    &-input {
        color: $green;
        margin-bottom: 0;
        min-height: 1rem;
        cursor: pointer;
        .fill-control-input {
            display: none;
            &:checked~.fill-control-indicator {
                background-color: $green;
                border-color: $green;
                background-size: 60%;
            }
        }
        .fill-control-indicator {
            border-radius: 3px;
            display: inline-block;
            position: absolute;
            top: 4px;
            left: 0;
            width: 16px;
            height: 16px;
            transition: 0.3s;
            background: $green;
            background-size: 0%;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
        }
    }
    &-label {
        padding-top: 1px;
        padding-left: 22px;
        font-size: 16px;
        line-height: 1.25;
    }
}