$white: #ffffff;

$light-yellow: #fff1b9;

$yellow:  #ffd600;
$yellow-dark: #ffc600;
$yellow-light: #ffc300;


$green: #0cb520;

$light-grey: #d2d2d2;
$medium-grey: #a3a3a2;
$dark-medium-grey: #9b9b9b;
$dark-grey: #727272;
$bold-grey: #6e6e6e;
$grey: rgba(50, 50, 48, .2);
$black: #323230;

$bkground-header: #595959;
