$white: #ffffff;

$light-yellow: #fff1b9;

$first-yellow-btn: #ffd600;
$second-yellow-btn: #ffc600;

$green: #0cb520;

$light-grey: #d2d2d2;
$medium-grey: #a3a3a2;
$grey: rgba(50, 50, 48, .2);
$black: #323230;
