<div class="any-delivery-company container">
  <h2 class="title">
    Доставим по РФ любой транспортной компаний по вашему выбору
  </h2>
  <p class="taxes">
    Доставка оплачивается по тарифам выбранной транспортной службы.
  </p>
</div>

<style>
  .any-delivery-company .title {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: bold;
    line-height: 48px;
    font-size: 40px;
    text-align: center;
    color: #323230;
    margin: 80px auto 45px;
  }
  .any-delivery-company .taxes {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    font-size: 20px;
    text-align: center;
    color: #323230;
  }
</style>
