<div class="free-fast-cars">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-12 flex-center">
                    <div>
                            <h2 class="free-delivery">Бесплатно доставим ваш заказ по Москве и МО</h2>
                                <div class="daily-delivery">В нашем автопарке 6 грузовых машин, которые 
                                        готовы привезти товар на ваш объект уже сегодня. 
                                        Доставка работает ежедневно.</div>
                    </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
  
</div>

<style>
    .free-fast-cars {
  background-image: url('https://cdn.bitrix24.ru/b488493/landing/3d2/3d2d0fb9b6b3abfe2aa81692ecb6b768/Rectangle_16.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 80vh;
    }
  
    .free-fast-cars .free-delivery {
      margin-bottom: 36px;
      font-family: 'Exo 2';
      font-weight: bold;
      line-height: 80px;
      font-size: 72px !important;
      color: #FFFFFF !important;
    }
    .free-fast-cars .daily-delivery {
      font-family: 'Exo 2';
      line-height: 40px;
      font-size: 32px !important;    
      color: #FFFFFF !important;
    }
  
    .free-fast-cars .flex-center {
      display: flex;
      justify-items: center;
      align-items: center;
      height: 80vh;
    }
  
    @media (max-width: 768px) {
      .free-fast-cars {
        text-align: center;
      }
      .free-fast-cars .free-delivery {
        line-height: 32px !important;
        font-size: 28px !important;
        
      }
  
    .free-fast-cars .daily-delivery {
      line-height: 24px !important;
      font-size: 17px !important;
    }
}
  </style>
