<div class="not-found-page">
    <h1 class="sign-404">404</h1>
    <h2 class="not-found">Кажется, того, что вы ищете, здесь нет</h2>
    <p class="funny-tip">С деталями такое тоже бывает — но даже редкая запчасть обязательно найдется!</p>
</div>

<style>
.not-found-page {
    font-family: 'Exo 2';
    min-height: 500px;
    font-style: normal;
    text-align: center;
    padding: 80px 0 80px;
}
.not-found-page .sign-404 {
    font-weight: bold;
    line-height: 138px;
    font-size: 115px;
    color: #0CB520;
}
.not-found-page .not-found {
    font-weight: bold;
    line-height: 48px;
    font-size: 40px;
    color: #323230;
    margin: 8px 0 26px;
}
.not-found-page .funny-tip {    
    line-height: 28px;
    font-size: 20px;
    color: #323230;
}
</style>