<section
    class="landing-block g-pos-rel g-pt-56 g-pb-120 landing-block-node-bgimg g-bg-size-cover g-bg-img-hero g-bg-cover"
    style="background-image: url('https://cdn.bitrix24.ru/b488493/landing/cdb/cdb57ca127233dd4d0cf4ea1c8ec01f3/bg3.jpg');  "
>
    <div class="container g-z-index-1 g-pos-rel">
        <div class="row align-items-center">
            <div
                class="landing-block-form-styles"
                hidden=""
            ></div>
            <div class="col-md-6 g-mb-60"></div>
            <div class="col-md-6 g-mb-60">
                <div
                    class="landing-block-node-text js-animation fadeInUp g-line-height-1_5 text-left g-mb-40 g-color-white"
                    data-form-style-main-font-weight="1"
                    data-form-style-header-text-font-size="1"
                    data-form-style-label-font-weight="1"
                    data-form-style-label-font-size="1"
                    data-form-style-second-font-color="1"
                    data-selector=".landing-block-node-text@0">

                    <h3 class="g-font-size-40 g-font-exo g-font-700 g-lh-1_2 g-mb-40">
                        Мы тщательно отбираем поставщиков и тестируем каждую партию товара
                    </h3>
                </div>
                <div class="landing-block-node-card-contact-container">
                    <div class="landing-block-node-card-contact">
                        <div class="media align-items-center mb-4">
                            <div class="media-body">
                                <div class="landing-block-node-contact-text mb-0 text-left g-font-size-20 g-white">
                                    <p>
                                        Поставляем детали напрямую с заводов-производителей. На
                                        каждый завод приезжаем лично, исследуем — как проходит
                                        контроль качества и на каком оборудовании изготавливаются
                                        детали.
                                    </p>
                                    <br />
                                    <p>
                                        Дополнительно тестируем образцы из каждой партии на
                                        собственном стенде.
                                    </p>
                                    <br />
                                    <p>
                                        К продаже допускаем только агрегаты, соответствующие
                                        стандартам.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>