
<section
  class="landing-block clear g-pos-rel g-pb-550 media-1200-pb-to-pt-400 landing-block-node-bgimg g-bg-size-cover g-bg-img-hero g-max-h-90vh"
  style="background-image: url('http://www.globaldenso.com/en/newsreleases/events/otherexhibitions/2012/pressinformation/images/NewStarterforStopnStartSystem.jpg');
          background-image: -webkit-image-set(url('http://www.globaldenso.com/en/newsreleases/events/otherexhibitions/2012/pressinformation/images/NewStarterforStopnStartSystem.jpg') 1x,
          url('http://www.globaldenso.com/en/newsreleases/events/otherexhibitions/2012/pressinformation/images/NewStarterforStopnStartSystem.jpg') 2x);
          background-image: image-set(url('http://www.globaldenso.com/en/newsreleases/events/otherexhibitions/2012/pressinformation/images/NewStarterforStopnStartSystem.jpg') 1x,
          url('http://www.globaldenso.com/en/newsreleases/events/otherexhibitions/2012/pressinformation/images/NewStarterforStopnStartSystem.jpg') 2x);">

  <div class="banner trapeze-block trapeze-block_right g-white js-animation slideInLeft">
    <div class="landing-block-node-text js-animation fadeInUp g-line-height-1_5 text-left g-mb-10 g-color-white">
      <p class="g-font-size-40 exobold text-left g-font-exo g-font-700 g-lh-1_2 g-mb-40">
        Детали соответствуют <br />
        Российским <br />
        и международным <br />
        стандартам качества
      </p>
    </div>
    <div class="landing-block-node-card-contact-container">
      <div class="landing-block-node-card-contact">
        <div class="media align-items-center">
          <div class="media-body">
            <div class="landing-block-node-contact-text mb-0">
              <a href="#" class="text-left g-white g-font-exo g-font-600 g-font-size-24 g-bb-dot-white link">
                Смотреть сертификаты
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>