<section
  class="landing-block clear g-pos-rel g-pb-550 media-1200-pb-to-pt-400 landing-block-node-bgimg g-bg-size-cover g-bg-img-hero g-max-h-90vh mobile-not-cover top-50-bottom-0"
  style='background-image: url("https://cdn.bitrix24.ru/b488493/landing/783/78361cc9462b1621d16d11c166cc22d2/Rectangle_2.png"); background-image: -webkit-image-set(url("https://cdn.bitrix24.ru/b488493/landing/783/78361cc9462b1621d16d11c166cc22d2/Rectangle_2.png") 1x, url("https://cdn.bitrix24.ru/b488493/landing/098/098e5c1078c716436260334a43cd052d/Rectangle_2_2x.png") 2x); background-image: image-set(url("https://cdn.bitrix24.ru/b488493/landing/783/78361cc9462b1621d16d11c166cc22d2/Rectangle_2.png") 1x, url("https://cdn.bitrix24.ru/b488493/landing/098/098e5c1078c716436260334a43cd052d/Rectangle_2_2x.png") 2x);'>

  <div class="banner trapeze-block trapeze-block_right g-white js-animation slideInLeft">
    <div class="landing-block-node-text js-animation fadeInUp g-line-height-1_5 text-left g-mb-10 g-color-white">
      <p class="g-font-size-40 exobold text-left g-font-exo g-font-700 g-lh-1_2 g-mb-40 mobile-text-center iso">
        Детали соответствуют <br />
        Российским <br />
        и международным <br />
        стандартам качества
      </p>
    </div>
    <div class="landing-block-node-card-contact-container">
      <div class="landing-block-node-card-contact">
        <div class="media align-items-center">
          <div class="media-body">
            <div class="landing-block-node-contact-text mb-0 mobile-text-center">
              <a href="#" class="text-left g-white g-font-exo g-font-600 g-font-size-24 g-bb-dot-white link check-cert ">
                Смотреть сертификаты
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
@media (max-width: 768px){.mobile-text-center{text-align: center !important;}.mobile-not-cover{background-size: 100% auto !important;
    background-position: top;}.iso{line-height: 28px !important;
font-size: 20px !important;}.check-cert{line-height: 24px !important;
font-size: 17px !important;}}<style>