<section
  class="landing-block master-block clear g-pos-rel g-pb-180 landing-block-node-bgimg g-bg-size-cover g-bg-img-hero g-flex-v-center g-flex-h-end top-50-bottom-0"
  style='background-image: url("https://cdn.bitrix24.ru/b488493/landing/41d/41d69cbff52b1d21dda2ace4dd50a7c7/Rectangle_23.png"); background-image: -webkit-image-set(url("https://cdn.bitrix24.ru/b488493/landing/41d/41d69cbff52b1d21dda2ace4dd50a7c7/Rectangle_23.png") 1x, url("https://cdn.bitrix24.ru/b488493/landing/64e/64ebf6c45668ba66e679c315fabd6c5e/Rectangle_23_2x.png") 2x); background-image: image-set(url("https://cdn.bitrix24.ru/b488493/landing/41d/41d69cbff52b1d21dda2ace4dd50a7c7/Rectangle_23.png") 1x, url("https://cdn.bitrix24.ru/b488493/landing/64e/64ebf6c45668ba66e679c315fabd6c5e/Rectangle_23_2x.png") 2x);     background-position: top; '
>
  <!--  <div class="btn-triangle js-animation slideInLeft">
      <a  href="//www.youtube.com/watch?v=q4d8g9Dn3ww"
            class="btn-triangle__button"
            target="_popup"
            data-url="//www.youtube.com/embed/q4d8g9Dn3ww?autoplay=1&controls=1&loop=0&rel=0&start=0&html5=1&v=q4d8g9Dn3ww">
        </a>
        <span class="btn-triangle__description g-font-exo g-font-size-17 g-white g-lh-1_4">
            Посмотрите, как мы тестируем<br/> детали и агрегаты
        </span>
    </div>  -->

  <div
    class="customized-trapeze-block banner trapeze-block trapeze-block_left g-white g-z-index-1 g-pos-rel js-animation slideInRight m-mt-0 small-bottom-padding-block"
  >
    <div
      class="landing-block-node-text js-animation fadeInUp g-line-height-1_5 text-left g-mb-40 g-color-white"
      data-form-style-main-font-weight="1"
      data-form-style-header-text-font-size="1"
      data-form-style-label-font-weight="1"
      data-form-style-label-font-size="1"
      data-form-style-second-font-color="1"
      data-selector=".landing-block-node-text@0"
    >
      <h3
        class="text-center-mobile g-font-size-40 g-font-exo g-font-700 g-lh-1_2 g-mb-40"
      >
        Мы тщательно отбираем поставщиков и тестируем каждую партию товара
      </h3>
    </div>
    <div class="landing-block-node-card-contact-container">
      <div class="landing-block-node-card-contact">
        <div class="media align-items-center mb-4">
          <div class="media-body">
            <div
              class="landing-block-node-contact-text mb-0 text-left g-font-size-20 g-white"
            >
              <p>
                Поставляем детали напрямую с заводов-производителей. На каждый
                завод приезжаем лично, исследуем — как проходит контроль
                качества и на каком оборудовании изготавливаются детали.
              </p>
              <br />
              <p>
                Дополнительно тестируем образцы из каждой партии на собственном
                стенде.
              </p>
              <br />
              <p>
                К продаже допускаем только агрегаты, соответствующие стандартам.
              </p>
              <a href="/about-company" class="underlined-link">
                Узнать больше о компании
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .master-block .underlined-link {
    font-family: "Exo 2";
    font-weight: bold;
    line-height: 32px;
    font-size: 24px;
    color: #ffffff;
    padding-top: 38px;
    display: block;
    text-decoration: underline;
  }
  @media (max-width: 768px) {
    .master-block {
      background-size: 100% auto !important;
      padding-bottom: 0 !important;
    }
    .master-block .small-bottom-padding-block {
      padding-bottom: 10px !important;
    }

    .master-block .underlined-link {
      line-height: 24px;
      font-size: 17px;
      text-align: center;
      margin: 0 auto;
    }

    .customized-trapeze-block {
      margin-left: 0 !important;
      padding: 50px !important;
      margin-top: 420px;
    }
    .text-center-mobile {
      text-align: center;
      line-height: 28px;
      font-size: 20px;
    }
    .m-mt-0 {
      margin-top: 0 !important;
    }
  }
</style>
