<section
  class="landing-block g-pos-rel g-pt-10 g-pb-10 landing-block-node-bgimg g-bg-size-cover g-bg-img-hero g-bg-cover g-bg-white-opacity-0_1--after"
  style="background-color:#ffd600;"
>
  <div class="container g-z-index-1 g-pos-rel">
    <div class="row align-items-center">
      <div class="landing-block-form-styles" hidden="">
        <div
          class="g-bg-transparent h1 g-color-white g-brd-none g-pa-0"
          data-form-style-wrapper-padding="1"
          data-form-style-bg="1"
          data-form-style-bg-content="1"
          data-form-style-bg-block="1"
          data-form-style-header-font-size="1"
          data-form-style-header-font-weight="1"
          data-form-style-button-font-color="1"
          data-form-style-border-block="1"
        ></div>
        <div
          class="g-bg-primary g-color-primary g-brd-primary"
          data-form-style-main-bg="1"
          data-form-style-main-border-color="1"
          data-form-style-main-font-color-hover="1"
        ></div>
        <div
          class="g-bg-transparent g-brd-none g-brd-bottom g-brd-white"
          data-form-style-input-bg="1"
          data-form-style-input-border="1"
          data-form-style-input-border-radius="1"
          data-form-style-input-border-color="1"
        ></div>
        <div
          class="g-brd-primary g-brd-none g-brd-bottom g-bg-black-opacity-0_7"
          data-form-style-input-border-hover="1"
          data-form-style-input-border-color-hover="1"
          data-form-style-input-select-bg="1"
        ></div>
      </div>
      <div class="col-md-6 g-mb-10"></div>
      <div class="col-md-6 g-mb-10">
        <p
          class="landing-block-node-main-title js-animation fadeInUp g-color-black mb-4 text-center exobold g-font-size-80"
          data-form-style-main-font-color="1"
          data-form-style-main-font-family="1"
        >
          <b>-75%</b>
        </p>
        <div
          class="landing-block-node-text js-animation fadeInUp g-line-height-1_5 text-left g-mb-40 g-color-black"
          data-form-style-main-font-weight="1"
          data-form-style-header-text-font-size="1"
          data-form-style-label-font-weight="1"
          data-form-style-label-font-size="1"
          data-form-style-second-font-color="1"
          data-selector=".landing-block-node-text@0"
        >
          <p class="text-center g-font-size-26 hh">
            <b
              >для оптовиков действуют <br />
              специальные цены - <br />
              на 75% ниже розничных
            </b>
          </p>
        </div>
        <div class="landing-block-node-card-contact-container">
          <div class="landing-block-node-card-contact">
            <div class="media align-items-center mb-4">
              <div class="media-body">
                <div class="landing-block-node-contact-text  mb-0">
                  <p class="text-center exobold g-font-size-18">
                    <b
                      >Получите доступ к оптовым ценам <br />и коммерческое
                      предложение</b
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="landing-block-node-card-contact">
            <div class="media align-items-center mb-4">
              <div class="media-body">
                <div class="landing-block-node-contact-text ">
                  <p class="text-center g-font-size-16">
                    Менеджер перезвонит, подготовит индивидуальное коммерческое
                    предложение и откроет доступ к оптовым ценам
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div
            class="bitrix24forms landing-block-node-form ttform g-brd-none g-brd-around--sm  g-px-0 g-px-20--sm g-px-45--lg g-py-0 g-py-30--sm g-py-10--lg u-form-alert-v1 h330m"
            data-b24form="184|r0o0bf"
            data-form-style-input-border-color="1"
            data-b24form-use-style="Y"
            data-b24form-show-header="N"
            data-b24form-original-domain="https://tstarter.bitrix24.ru"
          ></div>
          <div class="landing-block-node-card-contact">
            <div class="media align-items-center mb-4">
              <div class="media-body">
                <div class="landing-block-node-contact-text ">
                  <p class="text-center g-font-size-11">
                    Нажимая на кнопку, вы даете согласие на обработку своих
                    персональных данных и соглашаетесь с
                    <a
                      href="/politika"
                      class="policy"
                      target="_blank"
                      rel="noopener noreferrer"
                      >Политикой конфиденциальности.</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  @media (max-width: 768px) {
    .h330m > iframe {
      height: 330px !important;
    }
  }
</style>
