<div class="warehouse-block">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-12 flex-center">
                <div>
                    <h2 class="work-since">Специализируемся на поставках и ремонте агрегатов и запчастей с 1995 года
                    </h2>
                    <div class="action">
                        Покупайте<br>
                        стартеры, генераторы<br>
                        и комплектующие </div>
                    <h3 class="sales">по оптовым ценам от официального дистрибьютора</h3>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

</div>

<style>
    .warehouse-block {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('https://cdn.bitrix24.ru/b488493/landing/ba3/ba3db4ef46dee8abbde1b19ca7ef8393/178-IMG_8390_2x.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
    }

    .warehouse-block .flex-center {
        height: 100vh;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .warehouse-block .work-since {
        font-family: 'Exo 2';
        font-weight: bold;
        font-size: 20px !important;
        line-height: 28px !important;
        color: #FFFFFF;
    }

    .warehouse-block .action {
        font-family: 'Exo 2';
        font-weight: bold;
        font-size: 72px !important;
        line-height: 80px !important;
        color: #FFFFFF;
        margin: 3px 0 27px;
    }

    .warehouse-block .sales {
        font-family: 'Exo 2';
        font-size: 32px !important;
        line-height: 40px !important;
        color: #FFFFFF;
    }

    @media (max-width: 768px) {
        .warehouse-block .work-since {
            font-size: 14px !important;
            line-height: 20px !important;
            text-align: center;
        }

        .warehouse-block .action {
            font-size: 28px !important;
            line-height: 32px !important;
            margin: 10px 0 19px;
            text-align: center;
        }

        .warehouse-block .sales {
            font-size: 17px !important;
            line-height: 24px !important;
            text-align: center;
        }
    }
</style>