$sidebar-grey: #686868;
.user-sidebar {
    background-color: $white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    margin-bottom: 24px;
    &-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 16px;
        padding-bottom: 16px;
        .user-picture {
            background-image: url('https://i.ibb.co/njrgRzP/user-example.png');
            background-position: center;
            background-size: cover;
            width: 72px;
            height: 72px;
            margin-bottom: 17px;
        }
        .user-fullname {
            font-weight: bold;
            line-height: 28px;
            font-size: 20px;
        }
        .agreement,
        .price-info {
            color: $sidebar-grey;
            line-height: 24px;
            font-size: 16px;
        }
        .wallet {
            margin-top: 11px;
            &-with-icon {
                background: $bg-second-main;
                border-radius: 4px;
                padding: 6px 8px;
                display: flex;
                align-items: center;
                .icon {
                    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.6057 14.5753H1.39432V4.86988H14.5881V14.5753H14.6057ZM3.39866 1.6466L9.98699 3.44523H3.39866V1.6466ZM15.4771 3.46304L2.89339 0.0260551C2.52721 -0.080794 2.14394 0.150712 2.03919 0.542493C2.02194 0.595917 2.02194 0.66715 2.02194 0.720574V3.44523H0.69716C0.313896 3.44523 0 3.76577 0 4.15755V15.2877C0 15.6795 0.313896 16 0.69716 16H15.2852C15.6688 16 15.9824 15.6795 15.9824 15.2877V4.15755C16 3.83701 15.7909 3.55208 15.4771 3.46304Z' fill='%23323230'/%3E%3C/svg%3E%0A");width: 16px;
                    height: 16px;
                    background-size: contain;
                    background-position: center;
                    margin-right: 8px;
                }
                .wallet-balance {
                    line-height: 24px;
                    font-size: 14px;
                    color: $black;
                    font-weight: bold;
                }
            }
        }
        box-shadow: inset 0px -1px 0px $border-grey;
    }
    &-bottom {
        .lk-links {
            line-height: 24px;
            font-size: 16px;
            color: $black;
            padding-left: 15px;
            // padding-top: 15px;
            padding-right: 16px;
            .lk-link {
                height: 40px;
                align-items: center;
                display: flex;
                justify-content: space-between;
                margin: 0 -16px;
                padding: 0 16px;
                cursor: pointer;
                &:hover {
                    background: #E0FFE3;
                }
                &-active {
                    font-weight: bold;
                }
                .lk-link-notify {
                    background: rgba(0, 0, 0, 0.05);
                    border-radius: 2px;
                    padding: 0px 10px;
                    font-weight: bold;
                }
            }
        }
        .lk-links-alternative {
            display: none;
        }
    }
}

@media (max-width: 1200px) {
    .user-sidebar {
        margin-bottom: 8px;
        &-bottom {
            .lk-links {
                display: none;
            }
            .lk-links-alternative {
                padding: 12px 16px;
                display: block;
                background: #F9F9F9;
                box-shadow: inset 0px 1px 0px $box-shadow;
                .form-control-border-radius {
                    background: $white;
                    border: 1px solid $light-grey;
                    box-sizing: border-box;
                    border-radius: 4px;
                }
            }
        }
    }
}