.footer {
    color: $color-footer;
    font-family: 'PT Sans';
    .footer__content {
        padding: 82px 0;
        background-color: $bkground-footer;
        color: $color-footer;
        .cards_group {
            display: flex;
            width: 100%;
            margin-bottom: 22px;
            .call-card {
                text-align: right;
            }
            .card {
                width: 100%;
                &_header_logo {
                    margin-bottom: 10px;
                }
                &_header {
                    font-family: 'Exo 2';
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 1.5;
                    display: block;
                }
                &_body .links {
                    .links-item {
                        padding-bottom: 8px;
                    }
                    .mb-20 {
                        margin-bottom: 20px;
                    }
                }
                &_body button {
                    border: 1px solid;
                    border-radius: 4px;
                    padding: 0 16px;
                    text-align: center;
                    line-height: 32px;
                }
                &_soc {
                    width: 200px;
                }
                &_soc-icon {
                    font-size: 1.5rem;
                }
                &_soc-list {
                    margin-top: 15px;
                    margin-left: 5px;
                    display: flex;
                    justify-content: space-between;
                    width: 85%;
                }
                &_link {
                    color: $color-footer;
                    transition: color 200ms ease;
                    &:hover {
                        color: rgba(255, 255, 255, .8);
                        transition: color 200ms ease;
                    }
                }
            }
        }
        .additional-links {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .bottom-link {
                line-height: 20px;
                font-size: 14px;
                color: $bottom-link-footer;
                border-bottom: 1px solid $bottom-link-footer;
            }
        }
        
    }
}

@media (max-width: 1200px) {
    .footer {
        .footer__content {
            padding-top: 35px;
            padding-bottom: 32px;
            .cards_group {
                display: flex;
                flex-direction: column;
                .specialization {
                    margin-bottom: 36px;
                }
                .call-card {
                    text-align: left;
                    margin-top: 34px;
                    font-family: 'Exo 2';
                    font-style: normal;
                    font-weight: bold;                    
                    font-size: 16px;
                }
                .card {
                    &_body .links {
                        font-weight: bold;
                        line-height: 32px;
                        font-size: 16px;
                        color: white;
                        margin-bottom: 28px;
                        .links-item {
                            padding-bottom: 0;
                            .card_link {
                                color: #E9E9E9;
                            }
                        }
                        
                    }
                }
            }
            .additional-links {
                display: flex;
                flex-direction: column;
                &-left {
                    margin-bottom: 11px;
                }
            }
        }
    }
}